VITE_CONTRACT_ADDRESS=0xYourDeployedAddressHere
VITE_BACKEND_URL=http://localhost:5000/api
DATABASE_URL=postgresql://neondb_owner:npg_GC7yXcOHJu0Y@ep-dry-flower-aos1ax9s.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
ADMIN_WALLET_ADDRESS=0xE891bD4C0B805b6D6d1be028b4fcac1D15b5Ab46
